extracted_files

processed_data
best_model.pth

merged_dataset.csv
merged_dataset_with_similarity.csv

phonetic_merged.csv
embedding_merged.csv

embedding_matching_results.csv
phonetic_matching_results.csv

deepmatcher_input.csv
deepmatcher_results.csv
test.csv
train.csv
validation.csv

*.pth

TODO.txt